[Unit]
Description=BMO Voice Agent
After=network.target sound.target
# Stop desktop to free GPU/Screen for Pygame KMSDRM
Conflicts=lightdm.service

[Service]
User=misterobots
WorkingDirectory=/home/misterobots/bmo_client
EnvironmentFile=/home/misterobots/bmo_client/network.env
Environment="SDL_VIDEODRIVER=kmsdrm"
Environment="SDL_AUDIODRIVER=alsa"
Environment="PYTHONUNBUFFERED=1"
# Ensure we pick up the virtualenv
ExecStart=/home/misterobots/bmo_client/venv/bin/python bmo_driver.py --host ${LOVELACE_IP} --output_device 1 --input_device 3 --volume 20
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
