fastapi
uvicorn
rvc-python
numpy
pygame
scipy
fairseq
faiss-gpu
audioread
soundfile
librosa
pvporcupine
pvrecorder
torchcrepe
praat-parselmouth
absl-py
python-multipart
tensorboardX
edge-tts
kokoro
phonemizer
faster-whisper
